@model GuitarForCreateViewModel


<form method="post" asp-controller="Guitar" asp-action="Create" enctype="multipart/form-data">

	<div class="border p-3 mt-4 row">
		<div class="row pb-2">
			<h2 class="text-black-50">Create Guitar</h2>	
		</div>
		<div class="mb-3">
			<label asp-for="GuitarViewModel!.Name"></label>
			<input asp-for="GuitarViewModel!.Name" class="form-control">

		</div>
		<div class="mb-3">
			<label asp-for="GuitarViewModel!.Description"></label>
			<textarea asp-for="GuitarViewModel!.Description" rows="3" class="form-control"></textarea>

		</div>
		@*Picture*@
		<div class="mb-3">
			<div class="form-group row">
				<label asp-for="GuitarViewModel!.PictureUrl"></label>
				<div class="col-8">  
					<input type="file" name="files" id="uploadBox" class=" form-control" />   
				</div>   
			</div>
		</div>
		@*Counts*@
@*		<div class="mb-3">
			<label asp-for="GuitarViewModel!.Price"></label>
			<input asp-for="GuitarViewModel!.Price" class="form-control">

		</div>*@

		<div class="input-group mb-3">
			<span class="input-group-text">$</span>
			<span class="input-group-text">0.000</span>
			<input asp-for="GuitarViewModel!.Price" class="form-control" aria-label="Dollar amount (with dot and three decimal places)">
		</div>

		<div class="mb-3 col-6">
			<label asp-for="GuitarViewModel!.FretsCount"></label>
			<input asp-for="GuitarViewModel!.FretsCount" class="form-control">

		</div>
		<div class="mb-3 col-6">
			<label asp-for="GuitarViewModel!.StringsCount"></label>
			<input asp-for="GuitarViewModel!.StringsCount" class="form-control">

		</div>
		@*Item lists*@
		<div class="mb-3 col-4">
			<label asp-for="GuitarViewModel!.Category"></label>
			<select asp-for="GuitarViewModel!.CategoryId" asp-items="@Model.Categories" class="form-select">
				<option disabled selected>--Select Category--</option>
			</select>

		</div>
		<div class="mb-3 col-4">
			<label asp-for="GuitarViewModel!.Brand"></label>
			<select asp-for="GuitarViewModel!.BrandId" asp-items="@Model.Brands" class="form-select">
				<option disabled selected>--Select Brand--</option>
			</select>

		</div>
		<div class="mb-3 col-4">
			<label asp-for="GuitarViewModel!.Color"></label>
			<select asp-for="GuitarViewModel!.ColorId" asp-items="@Model.Colors" class="form-select">
				<option disabled selected>--Select Color--</option>
			</select>

		</div>
		<div class="mb-3 col-4">
			<label asp-for="GuitarViewModel!.Shape"></label>
			<select asp-for="GuitarViewModel!.ShapeId" asp-items="@Model.GuitarShapes" class="form-select">
				<option disabled selected>--Select Shape--</option>
			</select>

		</div>
		<div class="mb-3 col-4">
			<label asp-for="GuitarViewModel!.Soundboard"></label>
			<select asp-for="GuitarViewModel!.SoundboardId" asp-items="@Model.Soundboards" class="form-select">
				<option disabled selected>--Select Material--</option>
			</select>

		</div>
		<div class="mb-3 col-4">
			<label asp-for="GuitarViewModel!.Neck"></label>
			<select asp-for="GuitarViewModel!.NeckId" asp-items="@Model.Necks" class="form-select">
				<option disabled selected>--Select Material--</option>
			</select>

		</div>
		<div class="mb-3 col-4">
			<label asp-for="GuitarViewModel!.Fretboard"></label>
			<select asp-for="GuitarViewModel!.FretboardId" asp-items="@Model.Fretboards" class="form-select">
				<option disabled selected>--Select Material--</option>
			</select>

		</div>
		<div class="mb-3 col-4">
			<label asp-for="GuitarViewModel!.TremoloType"></label>
			<select asp-for="GuitarViewModel!.TremoloTypeId" asp-items="@Model.TremoloTypes" class="form-select">
				<option disabled selected>--Select Tremolo Type--</option>
			</select>

		</div>
		<div class="mb-3 col-4">
			<label asp-for="GuitarViewModel!.PickupSet"></label>
			<select asp-for="GuitarViewModel!.PickupSetId" asp-items="@Model.PickupSets" class="form-select">
				<option disabled selected>--Select Pickup Set--</option>
			</select>

		</div>
		@*Buttons*@
		<div class="col-12">

			<button type="submit" class="btn btn-secondary btn-sm" style="width:100px">
				<i class="bi bi-check-lg"></i>
				Create
			</button>

			<a asp-controller="Guitar" asp-action="index" class="btn btn-secondary btn-sm" style="width:100px">
				<span class="bi bi-reply"> Back</span>
			</a>

		</div>
	</div>
</form>

