@model GuitarViewModel

<form method="get">
	<div class="border p-3 mt-4 row">
		<div class="row pb-2">
			<h2 class="text-black-50">Full Information</h2>
		</div>

		<div>
			<p><b>Model Guitar: </b>@Model.Name</p>
		</div>

		<div class="col-5">
			<img src="@WebConstants.GuitarsImagesFolder@Model.PictureUrl"
				style="width:100%" />
			<p></p>
		</div>

		<div>
			<p><b>Price: </b>@Model.ViewPrice</p>
			<p><b>Date Delivery: </b>@Model.DateDelivery</p>
		</div>

		<div >
			<b>Description:</b>
			<div class="small">
				<p>@Html.Raw(Model.Description)</p>
			</div>
		</div>

		<p></p>

		<div class="col-4">
			<p><b>Category: </b>@Model.Category!.Name</p>
			<p><b>Brand: </b>@Model.Brand!.Name</p>
			<p><b>Color: </b>@Model.Color!.Name</p>
			<p><b>Shape: </b>@Model.Shape!.Name</p>
		</div>

		<div class="col-4">
			<p><b>Frets Count: </b>@Model.FretsCount</p>
			<p><b>Strings Count: </b>@Model.StringsCount</p>
			<p><b>Tremolo Type: </b>@Model.TremoloType!.Name</p>
			<p><b>Pickup Set: </b>@Model.PickupSet!.Name</p>
		</div>

		<div class="col-4">
			<p><b>Soundboard Material: </b>@Model.Soundboard!.Name</p>
			<p><b>Neck Material: </b>@Model.Neck!.Name</p>
			<p><b>Fretboard Material: </b>@Model.Fretboard!.Name</p>
		</div>
		
		<div class="col-12">
			<a asp-controller="Guitar" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary btn-sm" style="width:100px">
				<span class="bi bi-wrench"> Edit</span>
			</a>

			<a asp-controller="Guitar" asp-action="index" class="btn btn-secondary btn-sm" style="width:100px">
				<span class="bi bi-reply"> Back</span>
			</a>
		</div>
	</div>
</form>
