<form method="get" asp-controller="Catalog" asp-action="Guitars" >

    <div class="container text-center">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

            <div class="col mt-5">
                <div class="p-3 catside">
                    <a asp-area="Customer" asp-controller="GuitarCatalog" asp-action="DefineCategory" asp-route-category="@GuitarType.ElectricGuitar" class="nav-link scale">
                        <img src="\images\bits\guitarCatalog\ElectricGuitarsCatalogCover.png" style="width:75%">
                        <p class="text-center fs-5">Electric Guitars</p>
                    </a>
                </div>
            </div>

            <div class="col mt-5">
                <div class="p-3 catside">
                    <a asp-area="Customer" asp-controller="GuitarCatalog" asp-action="DefineCategory" asp-route-category="@GuitarType.ClassicGuitar" class="nav-link scale">
                        <img src="\images\bits\guitarCatalog\ClassicalGuitarsCatalogCover.png" style="width:75%">
                        <p class="text-center fs-5">Classical Guitars</p>
                    </a>
                </div>
            </div>

            <div class="col mt-5">
                <div class="p-3 catside">
                    <a asp-area="Customer" asp-controller="GuitarCatalog" asp-action="DefineCategory" asp-route-category="@GuitarType.AcousticGuitar" class="nav-link scale">
                        <img src="\images\bits\guitarCatalog\AcousticGuitarCatalogCover.png" style="width:75%">
                        <p class="text-center fs-5">Acoustic Guitars</p>
                    </a>
                </div>
            </div>

            <div class="col mt-5">
                <div class="p-3 catside">
                    <a asp-area="Customer" asp-controller="GuitarCatalog" asp-action="DefineCategory" asp-route-category="@GuitarType.ElectricBass" class="nav-link scale">
                        <img src="\images\bits\guitarCatalog\BassGuitarCatalogCover.png" style="width:75%">
                        <p class="text-center fs-5">Bass Guitars</p>
                    </a>
                </div>
            </div>

            <div class="col mt-5">
                <div class="p-3 catside">
                    <a asp-area="Customer" asp-controller="GuitarCatalog" asp-action="DefineCategory" asp-route-category="@GuitarType.AcousticBass" class="nav-link scale">
                        <img src="\images\bits\guitarCatalog\AcousticBassCatalogCover.png" style="width:75%">
                        <p class="text-center fs-5">Acoustic Bass Guitars</p>
                    </a>
                </div>
            </div>

            <div class="col mt-5">
                <div class="p-3 catside">
                    <a href="#" class="nav-link scale">
                        <img src="\images\bits\guitarCatalog\ElectricGuitarAmpCatalogCover.png" style="width:75%">
                        <p class="text-center fs-5">Electric Guitar Amps</p>
                    </a>
                </div>
            </div>

            <div class="col mt-5">
                <div class="p-3 catside">
                    <a href="#" class="nav-link scale">
                        <img src="\images\bits\guitarCatalog\BassGuitarAmpCatalogCover.png" style="width:75%">
                        <p class="text-center fs-5">Bass Guitar Amps</p>
                    </a>
                </div>
            </div>

            <div class="col mt-5">
                <div class="p-3 catside">
                    <a href="#" class="nav-link scale">
                        <img src="\images\bits\guitarCatalog\AcousticGuitarAmpCatalogCover.png" style="width:75%">
                        <p class="text-center fs-5">Acoustic Guitar Amps</p>
                    </a>
                </div>
            </div>

            <div class="col mt-5">
                <div class="p-3 catside">
                    <a href="#" class="nav-link scale">
                        <img src="\images\bits\guitarCatalog\EffectGuitarCatalogCover.png" style="width:75%">
                        <p class="text-center fs-5">Guitar Effects</p>
                    </a>
                </div>
            </div>

            <div class="col mt-5">
                <div class="p-3 catside">
                    <a href="#" class="nav-link scale">
                        <img src="\images\bits\guitarCatalog\StringsCatalogCover.png"style="width:75%">
                        <p class="text-center fs-5">Strings</p>
                    </a>
                </div>
            </div>

            <div class="col mt-5">
                <div class="p-3 catside">
                    <a href="#" class="nav-link scale">
                        <img src="\images\bits\guitarCatalog\PickupsCatalogCover.png" style="width:75%">
                        <p class="text-center fs-5">Pickups</p>
                    </a>
                </div>
            </div>

            <div class="col mt-5">
                <div class="p-3 catside">
                    <a href="#" class="nav-link scale">
                        <img src="\images\bits\guitarCatalog\WirelessCatalogCover.png"style="width:75%">
                        <p class="text-center fs-5">Wireless</p>
                    </a>
                </div>
            </div>

            <div class="col mt-5">
                <div class="p-3 catside">
                    <a href="#" class="nav-link scale">
                        <img src="\images\bits\guitarCatalog\AccessoriesCatalogCover.png" style="width:75%">
                        <p class="text-center fs-5">Accessories</p>
                    </a>
                </div>
            </div>

        </div>
    </div>

</form>

