@model CreateUserViewModel

    <form method="post" asp-controller="UserManager" asp-action="Create" class="needs-validation" novalidate>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		    <h2 class="text-muted">Create User</h2>
            <div class="btn-toolbar mb-2 mb-md-0">
			    <div class="text-end">
                    <button type="submit" class="btn btn-outline-secondary btn-sm shadow-none" style="width:80px">
                        <span class="bi bi-check-lg">Create</span>
                    </button>
			    </div>
		    </div>
	    </div>

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="modal-body p-5 pt-3">
            <div class="col-md-6 py-3">
                <select asp-for="@Model.Role" asp-items="@Model.RoleList" class="form-select" required>
                    <option selected disabled value="">--Select Role--</option>
                </select>
                <span asp-validation-for="@Model.Role" class="text-danger"></span>
                <div class="valid-feedback">
                    Valid!
                </div>
            </div>
            <div class="form-floating col-md-6 py-3">
                <label asp-for="@Model.Email">Email</label>
                <input asp-for="@Model.Email" class="form-control"  placeholder="name@example.com" required />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-floating col-md-6 py-3">
                <label asp-for="@Model.Name">Name</label>
                <input asp-for="@Model.Name" class="form-control" placeholder="name" required />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-floating col-md-6 py-3">
                <label asp-for="@Model.PhoneNumber">Phone Number</label>
                <input asp-for="@Model.PhoneNumber" class="form-control" placeholder="8029-111-11-11" required />
                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating col-md-6 py-3">
                <label asp-for="@Model.Password">Password</label>
                <input asp-for="@Model.Password" class="form-control" placeholder="password" required />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="form-floating col-md-6 py-3">
                <label asp-for="@Model.ConfirmPassword">Confirm Password</label>
                <input asp-for="@Model.ConfirmPassword" class="form-control" placeholder="password" required />
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>

    </form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
