@model IList<AppUser> 

<h2 class="text-muted pt-3 pb-2 mb-3">@ViewData["role"]s List</h2>


@if (Model.Count() == 0)
{
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Name</th>
                <th>State</th>
                <th>City</th>
                <th>Streat Address</th>
                <th>Phone Number</th>
                <th>Postal Code</th>
            </tr>
        </thead>
    </table>
}
else
{
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Name</th>
                <th>State</th>
                <th>City</th>
                <th>Streat Address</th>
                <th>Phone Number</th>
                <th>Postal Code</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.Id</td>
                    <td>@obj.Email</td>
                    <td>@obj.Name</td>
                    <td>@obj.State</td>
                    <td>@obj.City</td>
                    <td>@obj.StreetAddress</td>
                    <td>@obj.PhoneNumber</td>
                    <td>@obj.PostalCode</td>
                </tr>
            }
        </tbody>
    </table>
}
