@model GuitarViewModel

<div class="py-5 container">
    <h2 class="fw-normal pb-4">@Model.Name</h2>

    <div class="row">
        <div class="col-7">
            <div >
                <img src="@Constants.GuitarsImages@Model.PictureUrl" class="img-thumbnail shadow-sm" style="max-width:60%" alt="...">
            </div>
            <div class="py-lg-4">
                <h5 class="fw-semibold">@Model.Category?.Name</h5>
                <div class="text-muted">
                    <p>@Html.Raw(Model.Description)</p>
                </div>
            </div>
            <div>
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Date Delivery:</th>
                            <td>@Model.DateDelivery</td>
                        </tr>
                        <tr>
                            <th scope="row">Color:</th>
                            <td>@Model.Color?.Name</td>
                        </tr>
                        <tr>
                            <th scope="row">Frets:</th>
                            <td>@Model.FretsCount</td>
                        </tr>
                        <tr>
                            <th scope="row">Strings:</th>
                            <td>@Model.StringsCount</td>
                        </tr>
                        @if (Model.Shape is not null)
                        {
                            <tr>
                                <th scope="row">Shape:</th>
                                <td>@Model.Shape?.Name</td>
                            </tr>                           
                        }
                        @if (Model.TremoloType is not null)
                        {
                            <tr>
                                <th scope="row">Tremolo:</th>
                                <td>@Model.TremoloType?.Name</td>
                            </tr>                           
                        }
                        @if (Model.PickupSet is not null)
                        {
                            <tr>
                                <th scope="row">Pickups:</th>
                                <td>@Model.PickupSet?.Name</td>
                            </tr>                           
                        }
                        @if (Model.Soundboard is not null)
                        {
                            <tr>
                                <th scope="row">Soundboard:</th>
                                <td>@Model.Soundboard?.Name</td>
                            </tr>                           
                        }
                        @if (Model.Neck is not null)
                        {
                            <tr>
                                <th scope="row">Neck:</th>
                                <td>@Model.Neck?.Name</td>
                            </tr> 
                        }
                        @if (Model.Fretboard is not null)
                        {
                            <tr>
                                <th scope="row">Fretboard:</th>
                                <td>@Model.Fretboard?.Name</td>
                            </tr>                           
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-5">
            <div class="card text-center mb-3 sticky-top" style="width: 20rem;">
                <div class="card-body shadow-sm">
                    <h3 class="card-title">@Model.ViewPrice</h3>

                    <ul class="list-unstyled mt-3 mb-4 text-muted">
                        <li>30-Day Money-Back Guarantee</li>
                        <li>3-Year Warranty</li>
                    </ul>           

                    <form class="form-inline row g-3">
                        <div class="col-sm-6">
                            <div class="input-group mb-3">
                                <span class="input-group-text text-bg-primary">qty.</span>
                                <input type="number" min="1" step="1" value="1" class="form-control shadow-none" id="amountInput">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary mb-2">Add To Basket</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


