@model GuitarFilterViewModel
@{
    ViewData["title"] = Model.Category.GetDisplayName();
    ViewData["product_count"] = Model.Products?.Count;
    ViewData["img_path"] = Constants.GuitarsImages;
}

<div class="container-fluid">

    <partial name="~/Areas/Customer/Views/Shared/Catalog/_Roof.cshtml" view-data="ViewData">

    <div class="row">
        <div class="col-2">
            <form method="get">
                <input asp-for="@Model.Category" hidden />
                <div class="mb-3">
                    <label>Range Price</label>
                    <div class="input-group">
                        <input asp-for="@Model.PriceStart" value="@Model.PriceStart" class="form-control shadow-none" />
                        <span class="input-group-text"><i class="bi bi-cash-coin"></i></span>
                        <input asp-for="@Model.PriceEnd" value="@Model.PriceEnd" class="form-control shadow-none" />
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Brands"></label>
                    <select asp-for="@Model.BrandId" asp-items="@Model.Brands" class="form-select shadow-none"></select>
                </div>
                <div class ="mb-3">
                    <label asp-for="@Model.Colors"></label>
                    <select asp-for="@Model.ColorId" asp-items="@Model.Colors" class="form-select shadow-none"></select>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.GuitarShapes"></label>
                    <select asp-for="@Model.ShapeId" asp-items="@Model.GuitarShapes" class="form-select shadow-none"></select>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Soundboards"></label>
                    <select asp-for="@Model.SoundboardId" asp-items="@Model.Soundboards" class="form-select shadow-none"></select>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Necks"></label>
                    <select asp-for="@Model.NeckId" asp-items="@Model.Necks" class="form-select shadow-none"></select>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Fretboards"></label>
                    <select asp-for="@Model.FretboardId" asp-items="@Model.Fretboards" class="form-select shadow-none"></select>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.PickupSets"></label>
                    <select asp-for="@Model.PickupSetId" asp-items="@Model.PickupSets" class="form-select shadow-none"></select>
                </div>               
                <div class="mb-3">
                    <label asp-for="@Model.TremoloTypes"></label>
                    <select asp-for="@Model.TremoloTypeId" asp-items="@Model.TremoloTypes" class="form-select shadow-none"></select>
                </div>                   
                
                <hr class="featurette-divider">

                <div class="d-grid gap-2">
                    <button type="submit" class="w-100 btn btn-success btn-sm shadow-none">
                        <i class="bi bi-check-lg"></i>
                        Apply Filter
                    </button>

                    <a asp-controller="GuitarCatalog" asp-action="DefineCategory" asp-route-category="@Model.Category" class="w-100 btn btn-primary btn-sm shadow-none">
                        <i class="bi bi-arrow-counterclockwise"></i>
                        Reset Filter
                    </a>
                </div>
                       
            </form>
        </div>

        <div class="col-1"></div> 
        
        <div class="col-9">
            <partial name="~/Areas/Customer/Views/Shared/Catalog/_ProductCards.cshtml" model="Model.Products" view-data="ViewData">
        </div>
    </div>
</div>