@model CatalogViewModel<GuitarFilterViewModel>
@{
    ViewData["img_path"] = Constants.GuitarsImages;
    ViewData["title"] = Model.Filter.Category.GetDisplayName();
    ViewData["total_items"] = Model.PagedInfo.TotalItems;
    ViewData["total_pages"] = Model.PagedInfo.TotalPages;
    
}

<div class="container-fluid">

    <partial name="~/Areas/Customer/Views/Shared/Catalog/_Roof.cshtml" view-data="ViewData">

    <div class="row">
        <div class="col-2">
            <form method="get">

                <input asp-for="@Model.Filter.Category" hidden />

                <div class="mb-3">
                    <label>Range Price</label>
                    <div class="input-group">
                        <input asp-for="@Model.Filter.MinPrice" value="@Model.Filter.MinPrice" class="form-control shadow-none" />
                        <span class="input-group-text"><i class="bi bi-cash-coin"></i></span>
                        <input asp-for="@Model.Filter.MaxPrice" value="@Model.Filter.MaxPrice" class="form-control shadow-none" />
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Filter.Brands"></label>
                        <select asp-for="@Model.Filter.BrandId" asp-items="@Model.Filter.Brands" class="form-select shadow-none"></select>
                </div>
                <div class ="mb-3">
                    <label asp-for="@Model.Filter.Colors"></label>
                    <select asp-for="@Model.Filter.ColorId" asp-items="@Model.Filter.Colors" class="form-select shadow-none"></select>
                </div>
                <div class="mb-3">
                        <label asp-for="@Model.Filter.GuitarShapes"></label>
                    <select asp-for="@Model.Filter.ShapeId" asp-items="@Model.Filter.GuitarShapes" class="form-select shadow-none"></select>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Filter.Soundboards"></label>
                    <select asp-for="@Model.Filter.SoundboardId" asp-items="@Model.Filter.Soundboards" class="form-select shadow-none"></select>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Filter.Necks"></label>
                    <select asp-for="@Model.Filter.NeckId" asp-items="@Model.Filter.Necks" class="form-select shadow-none"></select>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Filter.Fretboards"></label>
                    <select asp-for="@Model.Filter.FretboardId" asp-items="@Model.Filter.Fretboards" class="form-select shadow-none"></select>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Filter.PickupSets"></label>
                    <select asp-for="@Model.Filter.PickupSetId" asp-items="@Model.Filter.PickupSets" class="form-select shadow-none"></select>
                </div>               
                <div class="mb-3">
                    <label asp-for="@Model.Filter.TremoloTypes"></label>
                    <select asp-for="@Model.Filter.TremoloTypeId" asp-items="@Model.Filter.TremoloTypes" class="form-select shadow-none"></select>
                </div>                   
                
                <hr class="featurette-divider">

                <div class="d-grid gap-2">
                    <button type="submit" class="w-100 btn btn-success btn-sm shadow-none">
                        <i class="bi bi-check-lg"></i>
                        Apply Filter
                    </button>

                    <a asp-controller="GuitarCatalog" asp-action="DefineCategory" asp-route-category="@Model.Filter.Category" class="w-100 btn btn-primary btn-sm shadow-none">
                        <i class="bi bi-arrow-counterclockwise"></i>
                        Reset Filter
                    </a>                        
                </div> 
                
            </form>
        </div>

        <div class="col-1"></div>

        <div class="col-9">
            <partial name="~/Areas/Customer/Views/Shared/Catalog/_ProductCards.cshtml" model="Model.PagedInfo.Items" view-data="ViewData">
        </div>

        <partial name="~/Views/Shared/Components/_Pagination.cshtml" model="Model.PagedInfo">
    </div>
</div>